<!-- # lets change @current_user to target_user???? -->

<div class="container">
  <!-- pic -->
  <img src='<%= @current_user.image %>' style="width: 150px;">
  <% if followable?(@current_user) %>
  <form action="/follow" method="post" class="right">
    <input type="hidden" name="followership_id" value="<%= @current_user.id %>"/>
    <input type="submit" value="Follow!"/>
  </form>
  <% end %>
  <!-- username -->
  <h1>Username: <%= @current_user.username %></h1>
  <!-- quote -->
  Quote:
  <q><%= @quote %></q>
  <!-- make new tweet -->
</div>

  <!-- tweets section -->
<% @current_user.tweets.each do |tweet| %>
  <div class="container group">
    <p class="left"><b><%= @current_user.username %>:</b> <%= tweet.content %></p>
    <p class="tweet_date">Date: <%= @current_user.created_at.to_s(:db) %></p>
    <!--Make this a comment button-->
<!--     <form action="/comment" method="post" class="right"/>
      <input type="hidden" name="_method" value="comment"/>
      <input type="hidden" name="tweet" value="<%= tweet.id %>"/>
    </form> -->
  </div>
<% end %>
